<% content_for :title do %>Foobar Kadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>
<section>
  <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSSXtUiREDyRXjpih3v0rY9ZyVpRUl7y6nma_YyegRWBnkJdxLhsw">
</section>
<section>
  <div class="column">
    <h2>Stay in touch.</h2>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, label: false, :placeholder => 'Your email address....' %>
      <br/>
      <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
