<% content_for :title do %>About<% end %>
<h3>About Aruba</h3>
<p>Aruba's first inhabitants are thought to have been Caquetíos Amerinds from the Arawak tribe, who migrated there from Venezuela to escape attacks by the Caribs. Fragments of the earliest known Indian settlements date back to 1000 AD. As sea currents made canoe travel to other Caribbean islands difficult, Caquetio culture remained more closely associated with that of mainland South America.</p>
<p>Geography:</p>
<p>Aruba is a generally flat, riverless island in the Leeward Antilles island arc of the Lesser Antilles in the southern part of the Caribbean. It has white sandy beaches on the western and southern coasts of the island, relatively sheltered from fierce ocean currents. This is where most tourist development has occurred.</p>